@using System.Collections.Generic;
@using GamesLibraryApp;
@page "/"

<h1>Game Library</h1>

<button @onclick="Refresh">Refresh</button>
@code
{
    private List<Game> games;
    private Stats? stats;
    private List<SteamGame> steamlibrary;
    private SteamStats? steamstats;
    protected override async Task OnInitializedAsync()
    {
        await GetGames();
    }

    public async Task Refresh()
    {
        await GetGames();
    }

    private void Combine(Stats s)
    {
        stats.TotalGames += s.TotalGames;
        stats.TotalPlaytime += s.TotalPlaytime;
        stats.AchievementsEarnedTotal += s.AchievementsEarnedTotal;
        stats.AchievementsTotal += s.AchievementsTotal;
        stats.PerfectGames += s.PerfectGames;
    }

    private async Task GetGames()
    {
        (games, stats) = (new List<Game>(), new Stats());
        (steamlibrary, steamstats) = await GLASteamStuff.Games();
        if(steamlibrary != null) // prevents errors if this is first use
        {
            if(steamlibrary.Count != 0)
            {
                games.AddRange(steamlibrary);
                Combine(steamstats);
            }
        }
    }

}

@if (games.Count == 0 || Settings.GetSettings()[0] == "" || Settings.GetSettings()[1] == "0")
{
    <p>No games ... yet.</p>
}
else
{
    try
    {
    <table class="table">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Playtime</th>
                <th>Achievements</th>
                <th>Perfect Game?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                if(game is SteamGame)
                {
                    <tr>
                        <td><a href="steam://run/@(game.Id)"><img src="@game.Icon" /></a></td>
                        <td>@game.Name</td>
                        <td>@game.Playtime Hours</td>
                        <td>@game.AchievementsEarned / @game.TotalAchievements</td>
                        <td>@(game.IsPerfectGame ? "Yes" : "No")</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><img src="@game.Icon" /></td>
                        <td>@game.Name</td>
                        <td>@game.Playtime Hours</td>
                        <td>@game.AchievementsEarned / @game.TotalAchievements</td>
                        <td>@(game.IsPerfectGame ? "Yes" : "No")</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Total Games</th>
                <th>Total Playtime</th>
                <th>Total Achievements / Total Achievements Earned</th>
                <th>Perfect Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@stats.TotalGames</td>
                <td>@stats.TotalPlaytime Hours</td>
                <td>@stats.AchievementsEarnedTotal / @stats.AchievementsTotal </td>
                <td>@stats.PerfectGames</td>
            </tr>
        </tbody>
        </table>
    }
    catch
    {
        <p>An error occured. As of this time, there's only one reason this would happen.
        <br />Make sure your Steam WebAPI Key and Steam ID are correct and that Steam is up.</p>
    }
}
