@page "/library"

<h1>Game Library</h1>

<button @onclick="Refresh">Refresh</button>
@code
{

    private Game[]? games;// = new Game[0];
    private Stats? stats;// = new Stats();
    private SteamGame[]? steamlibrary;
    private SteamStats? steamstats;
    protected override async Task OnInitializedAsync()
    {
        await GetGames();
    }

    public async Task Refresh()
    {
        await GetGames();
    }

    private void Combine(Stats s)
    {
        stats.TotalGames += s.TotalGames;
        stats.TotalPlaytime += s.TotalPlaytime;
        stats.AchievementsEarnedTotal += s.AchievementsEarnedTotal;
        stats.AchievementsTotal += s.AchievementsTotal;
        stats.PerfectGames += s.PerfectGames;
    }

    private async Task GetGames()
    {
        (games, stats) = (new Game[0], new Stats());
        (steamlibrary, steamstats) = await SteamStuff.Games();
        if(steamlibrary.Length != 0)
        {
            games = games.Concat(steamlibrary).ToArray();
            Combine(steamstats);
        }
    }

}

@if (games.Length == 0)
{
    <p>No games ... yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Playtime</th>
                <th>Achievements</th>
                <th>Perfect Game?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td><img src="@game.Icon" /></td>
                    <td>@game.Name</td>
                    <td>@game.Playtime Hours</td>
                    <td>@game.AchievementsEarned / @game.TotalAchievements</td>
                    <td>@game.IsPerfectGame</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Total Games</th>
                <th>Total Playtime</th>
                <th>Total Achievements / Total Achievements Earned</th>
                <th>Perfect Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@stats.TotalGames</td>
                <td>@stats.TotalPlaytime Hours</td>
                <td>@stats.AchievementsEarnedTotal / @stats.AchievementsTotal </td>
                <td>@stats.PerfectGames</td>
            </tr>
        </tbody>
    </table>
}
