@page "/steam"

<h1>Steam Games</h1>

<button @onclick="Refresh">Refresh</button>
@code
{

    private List<SteamGame> games;
    private SteamStats? stats;
    protected override async Task OnInitializedAsync()
    {
        await GetGames();
    }

    public async Task Refresh()
    {
        await GetGames();
    }

    private async Task GetGames()
    {
        (games, stats) = await GLASteamStuff.Games();
    }

}

@if (games == null)
{
    <p>No games ... yet. If you have games, make sure your Steam WebAPI Key and Steam ID are correct and that Steam is up.</p>
}
else
{
    try
    {
    <table class="table">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Playtime</th>
                <th>Achievements</th>
                <th>Perfect Game?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td><a href="steam://run/@(game.Id)"><img src="@game.Icon" /></a></td>
                    <td>@game.Name</td>
                    <td>@game.Playtime Hours</td>
                    <td>@game.AchievementsEarned / @game.TotalAchievements</td>
                    <td>@(game.IsPerfectGame ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Total Games</th>
                <th>Total Playtime</th>
                <th>Total Achievements / Total Achievements Earned</th>
                <th>Perfect Games</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@stats.TotalGames</td>
                <td>@stats.TotalPlaytime Hours</td>
                <td>@stats.AchievementsEarnedTotal / @stats.AchievementsTotal </td>
                <td>@stats.PerfectGames</td>
            </tr>
        </tbody>
    </table>
    }
    catch
    {
        <p>An error occured. Make sure your Steam WebAPI Key and Steam ID are correct and that Steam is up.</p>
    }
}
